<div style="margin:0px;padding:0px;min-width:60px" class="cmd #history# tooltips cmd-widget" data-type="info" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <div class="cmdName #hide_name#">#name_display#</div>
  <div class="icon#id#" style="width:14px;height:14px;"></div>
  <template>
    <div>blinkLevel: {{Niveau à partir duquel la puce doit clignoter. Défaut: 6}}</div>
    <div>colorDef: {{Couleur de l'icône si valeur de la commande < 0 ou >= 6. Défaut: #838383}}</div>
    <div>iconSize: {{Taille de l'icône. Défaut: 14px}}</div>
    <div>iconOffset: {{Taille du cercle autour de l'icône. Défaut: 0px}}</div>
  </template>
  <style>
    @keyframes animBlur#id# {
      0% { filter: blur( 0.0vmin) }
      50% { filter: blur( 2.5vmin) }
    }
    @keyframes blinker#id# {
      from {
        opacity: 1.0;
      }
      to {
        opacity: 0.0;
      }
    }
    .icon#id# {
      position: relative;
      margin: 1em;
      border-radius: 50%;
      color: #fff;
      background: #838383;
      border: 1px solid #838383;
      text-align: center;
    }
  </style>
  <script>
    function changeAfterColor#id#(newBorderColor, offset) {
      let style = document.createElement('style');
      document.head.appendChild(style);
      style.sheet.insertRule('.icon#id#::after { content:"";position:absolute;inset:'+ offset +';border-radius:50%;border:1px solid ' +newBorderColor +';}');
    }

    jeedom.cmd.addUpdateFunction('#id#',function(_options) {
      let blinkLevel#id# = ('#blinkLevel#' != '#' + 'blinkLevel#') ? parseInt("#blinkLevel#") : 6;
      const desc = [ 'Indisponible', 'Trés faible', 'Faible', 'Modéré', 'Elevé', 'Trés élevé', 'Extrêmement élevé'];
      const colors = [ '#DDDDDD', '#50F0E6', '#01855E', '#F0E641', '#FF5050', '#960032', '#872181'];
      let colorDef#id# = ('#colorDef#' != '#' + 'colorDef#') ? '#colorDef#' : '#838383'; // gris
      let iconOffset#id# = ('#iconOffset#' != '#' + 'iconOffset#') ? '-#iconOffset#' : '0px';
      let iconSize#id# = ('#iconSize#' != '#' + 'iconSize#') ? '#iconSize#' : '18px';
      if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
        let valeur = _options.display_value;
        let cmdIcon#id# = cmd.querySelector('.icon#id#');
        cmdIcon#id#.style.width = iconSize#id#;
        cmdIcon#id#.style.height = iconSize#id#;
        cmdIcon#id#.style.animation = 'none';
        if (valeur >= 0 && valeur < 7) {
          cmdIcon#id#.style.background = colors[valeur];
          cmdIcon#id#.style.border = '2px solid ' +colors[valeur];
          cmdIcon#id#.title = desc[valeur];
          changeAfterColor#id#(colors[valeur],iconOffset#id#);
          if (valeur >= blinkLevel#id#) cmdIcon#id#.style.animation = 'blinker#id# linear 1s infinite';
        }
        else {
          cmdIcon#id#.style.background = colorDef#id#;
          cmdIcon#id#.style.border = '2px solid ' +colorDef#id#;
          changeAfterColor#id#(colorDef#id#,iconOffset#id#);
        }
      }
    });
    jeedom.cmd.refreshValue([{cmd_id:'#id#',display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#'}]);
  </script>
</div>
